@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap');

html, body, p, .posts-list .description p {
  font-family: Karla;
}

h1, h2, h3, h4, h5, .posts-list .description h2 {
  font-family: Poppins;
}

code {
  font-family: 'Fira Mono';
}